:root {
  --primary-color: #0f373f;
  --secondary-color: #376a63;
  --secondary-color-hover: #34645e;
  --secondary-color-active: #2c5550;
  --piggy-icon-color: #d8a7b1;
  --gray-color: #5a5a5a;
  --bright-gray-color: #cecece;
  --blue-color1: #1E4F5D;
  --blue-color1-hover: #27687a;
  background-color: rgb(217, 217, 217);
  --bg-secondary-color: rgb(217, 217, 217);
}
html,
body {
  height: 0%;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
  display: flex;
}
.btn-login-user {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-login-user:hover {
  background-color: var(--bg-secondary-color);
}
.btn-login-entidade {
  background-color: var(--blue-color1);
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-login-entidade:hover {
  background-color: var(--blue-color1-hover);
}

.txtmainclr {
  color: var(--secondary-color-active);
}
.bgmainclr {
  background-color: var(--primary-color);
}
.bgsecclr {
  background-color: var(--bg-secondary-color);
}
#nav {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
  z-index: 1000;
}
#nav.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}
